html,body{
    margin: 0px;
    overflow: hidden;
}

#propagation{
    position: absolute;
    top:50%;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    color:white;
    text-align: center;
}

#main{
    width: 100%;
    height: 100%;
    display: block;
}