{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/Style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tinymce/css/prism.css' %}">
</head>
<body>
<img src="{% static 'homepage/img.jpeg' %}"/>
{% block content%}
<div>
{% for art in articles %}
    <div>
        <ul>
            <li> {{art.title}}</li>
            <li>{{art.pub_date}}</li>
            <li>{{art.content |safe}}</li>
        </ul>

    </div>

{% endfor %}

</div>
{% endblock %}



<script src="{% static 'tinymce/js/prism.js' %}"></script>
</body>
</html>